.universal_left_margin{
    margin-left: 50px;
}

body{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Bree Serif', serif;
    background: url('../static/images/background.jpg') no-repeat fixed center center;
    background-size: cover;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/* header */

header{
    display: flex;
    overflow: auto;
    height: 50px;
    margin-top: 30px;
    padding: 30px;
    padding-top: 15px;
    background-image: linear-gradient(to right ,#ffd8cb ,#f6f0ea , #f1dfd1 , #f9d29d);
    box-shadow: 5px 0px 5px 2px #a40606;
}

.prediction{
    padding:30px;
}
.svg-container{
    display:grid;
    place-items:center;
}
.svg-icon{
    height:8rem;
    width:8rem;
}
.prediction-body{
    padding:2rem 5rem;
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    opacity: 0.8;
    font-size:2rem;
    color:#fff;
    border:5px solid #fff;
    border-radius:1rem;
}

#icon img{
    width: 50px;
    margin-right: 30px;
    margin-top: 5px;
}

#title{
    padding: 0px;
}

#title p{
    font-size: 40px;
    font-weight: 900;
    margin-top: 0px;
    font-variant: small-caps;
    color: #485461;
    letter-spacing: 3px;
    text-shadow: 0px 1px 2px#ffd8cb;
}

/* Select your symptoms */
#Select_symptoms{
    display: flex;
}

#Select_symptoms div p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    font-weight: 900;
    font-variant: small-caps;
    color: whitesmoke;
    letter-spacing: 1px;
    text-shadow: 0px 2px 5px#a40606;
    margin-left: 5px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px;
}

#Select_symptoms div img{
    height: auto;
    width: 40px;
    padding: 10px;
    margin: 23px 0px 0px 10px;
}

/* Symptom Form */

.symptom_heading img{
    height: 50px;
    width: auto;
    border: 5px solid #ffd8cb;
    border-radius: 5px;
}

.symptom{
    display: flex;
    margin: 10px;
    margin-top: 25px;
    padding: 15px;
    background-color: rgba(255, 255, 255, .15);  
    box-shadow: 0px 2px 10px 1px #a71d31;
    backdrop-filter: blur(5px);
    width: 50%;
}

.symptom div:last-child{
    margin: 20px;
    width: 400px;
}

.symptom div:last-child div{
    display: inline-block;
    width: 300px;
    font-size: large;
    text-transform: capitalize;
}
.submit-button{
    padding:1rem;
    background-color:#045de9;
    font-size:1rem;
    outline:none;
    border:none;
    border-radius: 2rem;
    box-shadow: 0px 2px 10px #000;
    border:5px solid #fff;

    color:#fff;
    transition:all cubic-bezier(0.55, 0.055, 0.675, 0.19)
}
.submit-button:hover{
    opacity: 0.7;
    color:#fff;
}
.button-container{
    display:grid;
    place-items: center;
    margin-bottom:2rem;
}


/* Submit */



/* *{
    border: 2px solid red;
    
} */




